input{
  margin: 10px 5px;
  height: 20px;
  width: 120px;
  border-radius: 5px;
  font-size: 16px;
}

button{
 margin-left: 5px;
  font-size: 16px;
  border-radius: 5px;
  font-size: 16px;
  background-color: darkblue;
  color: white
}

:disabled{
  background-color: gray;
}

.add-sub{
  border-radius: 50%;
 width: 28px;
 height: 28px;
 align-items: center;
 
}

.count{
  margin: 5px;
  font-size: 20px;
}

.container{
 margin: auto;
 align-items: center;
}

.input-field{
text-align: center;
padding-top: 100px;
padding-bottom: 10px;
}
.counter-field{
  text-align: center;
 
}